/* inspired by scratch-gui */
.menu {
  position: absolute;
  border: 1px solid var(--ui-black-transparent);
  border-radius: calc(var(--space) / 2);
  background: var(--ui-white);
  padding: 0;
  margin: 0;
  /*max-width: 260px;*/
  /*overflow: hidden;*/
  color: var(--text-primary);
  box-shadow: 0 var(--space) var(--space) 0 var(--ui-black-transparent);
}

.menu:not(:has(> li > div[data-show])) {
  overflow: hidden;
}

.menu-item {
  display: flex;
  line-height: 34px;
  white-space: nowrap;
  padding: 0 calc(var(--space) + 2px);
  font-size: var(--standard-font-size);
  margin: 0;
  justify-content: space-between;
}

.menu-item.disabled:hover {
  background: transparent;
}

.menu-item.disabled .content {
  filter: opacity(0.5);
}

.content {
  display: flex;
  flex: 1;
  padding-right: calc(var(--space) * 2);
}

.hotkey {
  font-weight: normal;
}

.menu-item:hover {
  background: var(--theme-primary);
}

.menu-item:hover:last-child {
  border-radius: 0 0 calc(var(--space) / 2) calc(var(--space) / 2);
}

.menu-item:hover:not(.disabled) {
  color: var(--ui-white);
}

.menu-item.hoverable {
  cursor: pointer;
}

.menu-section:not(:first-child) {
  border-top: 1px solid var(--ui-black-transparent);
}

.menu-section-title {
  font-weight: normal;
  font-size: var(--small-font-size);
  padding: var(--space) calc(var(--space) + 2px) 0;
}

.dropdown-item {
  white-space: nowrap;
  padding: 0 calc(var(--space) + 2px);
  line-height: 34px;
  font-size: var(--standard-font-size);
  justify-content: space-between;
  display: flex;
  border: 0;
  border-radius: 0;
  flex: 1;
  background: none !important;
}

.dropdown-icon {
  transform: rotate(-90deg);
  filter: brightness(100);
  padding: 0 !important;
}
