[submodule "packages/utils"]
	path = packages/utils
	url = https://github.com/BlockCodeLab/utils.git
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/BlockCodeLab/core.git
[submodule "packages/blocks"]
	path = packages/blocks
	url = https://github.com/BlockCodeLab/blocks.git
