.context-menu-wrapper {
  background: var(--ui-transparent);
  opacity: 0;
  transition: opacity 0.2s ease-out;
  z-index: -1;
  pointer-events: none;
}

.context-menu-wrapper[data-show] {
  opacity: 1;
  z-index: var(--z-index-context-menu);
  pointer-events: auto;
}

.context-menu {
  min-width: 130px;
  box-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.25);
}
